@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin box-shadow($box_shadow) {
    -webkit-box-shadow: $box_shadow;
    -moz-box-shadow: $box_shadow;
    box-shadow: $box_shadow;
}